.jumbotron {
    background-color:darkcyan;
    color: ;
}
.border {
 border: 4rem solid
}
.card-deck {
    padding: 0;
    
}
.card-body {
    padding: 0;
    background-color: aquamarine;
}
.card {
    display: none;
}